<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/my git repositories/bilyonerApiTestAutomationV2">
        <classes>
            <class name="api.EmployeeApiTest">
                <methods>
                    <include name="testEmployeeAPI"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>